<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cc.yuesong.screenstudio-alfred-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>15FE3858-CF27-487F-970F-1E11F03A496C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E28D52C9-5047-4BF0-82E4-521B1A34F71A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36B09D67-F7EA-4965-9C74-0DC83EE733C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F66977E-093F-41CE-A843-B7FA70542EF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A1BC59B-15FB-4013-B2BC-CE74C75EF753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FAE95C2-C3A9-4E47-860E-77AD124BF9B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D33781F-6D16-42DF-95D0-47B3D85C3839</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECB600F3-DFB9-4A49-BA00-F3FAF8F01368</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52762536-E0A7-4884-B640-536EEEA722C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8286863C-CD22-4A59-ADD3-EE912931B31F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>886414A1-4A4B-40A5-A9EB-F433CA4E1EFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5435B11F-81CB-4485-884A-52109A48185C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C0EE8B7-5C26-4B68-A747-F64BB12CB467</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FAE95C2-C3A9-4E47-860E-77AD124BF9B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C3FB013-9BFA-4A3F-A1D7-6C46F4CEEFDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D707B5F-072A-4BE6-BDA2-98969DC8F970</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A093216E-817D-4C1E-BF1F-EDC1E755D984</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83868C94-2CEE-445B-B0FA-FEE0ECFD5D42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF5E68A4-96EB-4F93-A375-F422A911803F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FAE95C2-C3A9-4E47-860E-77AD124BF9B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4767B15-3C30-46C5-B215-4276ECC5CD1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58794877-F6D0-4AD0-81B7-99E52C2DD424</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA2D61C9-D6BD-4471-A15D-36C8857409AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4505A5F8-9DCC-4340-8647-ADFB35A526AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Song Yue</string>
	<key>description</key>
	<string>Control Screen Studio from Alfred with deeplinks, window targeting, and display targeting.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screen Studio</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8FAE95C2-C3A9-4E47-860E-77AD124BF9B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>screenstudio</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Screen Studio commands...</string>
				<key>script</key>
				<string>/bin/zsh ./scripts/list_commands.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Browse Screen Studio actions or type record-window / record-display plus a target</string>
				<key>title</key>
				<string>Screen Studio</string>
				<key>type</key>
				<integer>0</integer>
				<key>true</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF5E68A4-96EB-4F93-A375-F422A911803F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ssw</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for windows...</string>
				<key>script</key>
				<string>/bin/zsh ./scripts/list_windows.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Press Enter to run screen-studio://record-window, or keep typing to target a specific item</string>
				<key>title</key>
				<string>Record Window</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3A1BC59B-15FB-4013-B2BC-CE74C75EF753</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ssd</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for displays...</string>
				<key>script</key>
				<string>/bin/zsh ./scripts/list_displays.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Press Enter to run screen-studio://record-display, or keep typing to target a specific item</string>
				<key>title</key>
				<string>Record Display</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C0EE8B7-5C26-4B68-A747-F64BB12CB467</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssa</string>
				<key>subtext</key>
				<string>screen-studio://record-area</string>
				<key>text</key>
				<string>Record Area</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>52762536-E0A7-4884-B640-536EEEA722C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh record-area</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8286863C-CD22-4A59-ADD3-EE912931B31F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssf</string>
				<key>subtext</key>
				<string>screen-studio://finish-recording</string>
				<key>text</key>
				<string>Finish Recording</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>886414A1-4A4B-40A5-A9EB-F433CA4E1EFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh finish-recording</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5435B11F-81CB-4485-884A-52109A48185C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssc</string>
				<key>subtext</key>
				<string>screen-studio://cancel-recording</string>
				<key>text</key>
				<string>Cancel Recording</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15FE3858-CF27-487F-970F-1E11F03A496C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh cancel-recording</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E28D52C9-5047-4BF0-82E4-521B1A34F71A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssr</string>
				<key>subtext</key>
				<string>screen-studio://restart-recording</string>
				<key>text</key>
				<string>Restart Recording</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4767B15-3C30-46C5-B215-4276ECC5CD1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh restart-recording</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58794877-F6D0-4AD0-81B7-99E52C2DD424</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sss</string>
				<key>subtext</key>
				<string>screen-studio://open-settings</string>
				<key>text</key>
				<string>Open Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CA2D61C9-D6BD-4471-A15D-36C8857409AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh open-settings</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4505A5F8-9DCC-4340-8647-ADFB35A526AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssp</string>
				<key>subtext</key>
				<string>screen-studio://open-projects-folder</string>
				<key>text</key>
				<string>Open Projects Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9C3FB013-9BFA-4A3F-A1D7-6C46F4CEEFDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh open-projects-folder</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D707B5F-072A-4BE6-BDA2-98969DC8F970</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sstc</string>
				<key>subtext</key>
				<string>screen-studio://toggle-recording-controls</string>
				<key>text</key>
				<string>Toggle Recording Controls</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>36B09D67-F7EA-4965-9C74-0DC83EE733C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh toggle-recording-controls</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F66977E-093F-41CE-A843-B7FA70542EF8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssta</string>
				<key>subtext</key>
				<string>screen-studio://toggle-recording-area-cover</string>
				<key>text</key>
				<string>Toggle Recording Area Cover</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A093216E-817D-4C1E-BF1F-EDC1E755D984</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh toggle-recording-area-cover</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83868C94-2CEE-445B-B0FA-FEE0ECFD5D42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssz</string>
				<key>subtext</key>
				<string>screen-studio://copy-and-zip-project</string>
				<key>text</key>
				<string>Copy and Zip Project</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D33781F-6D16-42DF-95D0-47B3D85C3839</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/zsh ./scripts/run_action.sh copy-and-zip-project</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECB600F3-DFB9-4A49-BA00-F3FAF8F01368</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Control Screen Studio from Alfred.
	
	Main keyword: ss
	Record Window keyword: ssw
	Record Display keyword: ssd
	Record Area keyword: ssa
	Finish Recording keyword: ssf
	Cancel Recording keyword: ssc
	Restart Recording keyword: ssr
	Open Settings keyword: sss
	Open Projects Folder keyword: ssp
	Toggle Recording Controls keyword: sstc
	Toggle Recording Area Cover keyword: ssta
	Copy and Zip Project keyword: ssz
	</string>
	<key>uidata</key>
	<dict>
		<key>15FE3858-CF27-487F-970F-1E11F03A496C</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>36B09D67-F7EA-4965-9C74-0DC83EE733C9</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>3A1BC59B-15FB-4013-B2BC-CE74C75EF753</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>4505A5F8-9DCC-4340-8647-ADFB35A526AC</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>4D33781F-6D16-42DF-95D0-47B3D85C3839</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1280</integer>
		</dict>
		<key>4D707B5F-072A-4BE6-BDA2-98969DC8F970</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>4F66977E-093F-41CE-A843-B7FA70542EF8</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>52762536-E0A7-4884-B640-536EEEA722C2</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>5435B11F-81CB-4485-884A-52109A48185C</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>58794877-F6D0-4AD0-81B7-99E52C2DD424</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>8286863C-CD22-4A59-ADD3-EE912931B31F</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>83868C94-2CEE-445B-B0FA-FEE0ECFD5D42</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>1190</integer>
		</dict>
		<key>886414A1-4A4B-40A5-A9EB-F433CA4E1EFD</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>8FAE95C2-C3A9-4E47-860E-77AD124BF9B3</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>9C0EE8B7-5C26-4B68-A747-F64BB12CB467</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>9C3FB013-9BFA-4A3F-A1D7-6C46F4CEEFDB</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>A093216E-817D-4C1E-BF1F-EDC1E755D984</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1190</integer>
		</dict>
		<key>BF5E68A4-96EB-4F93-A375-F422A911803F</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C4767B15-3C30-46C5-B215-4276ECC5CD1D</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>CA2D61C9-D6BD-4471-A15D-36C8857409AD</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>E28D52C9-5047-4BF0-82E4-521B1A34F71A</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>ECB600F3-DFB9-4A49-BA00-F3FAF8F01368</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>1280</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/benyue1978/screenstudio-alfred-workflow</string>
</dict>
</plist>
